[user]
	name = Minh Nguyen
	email = minh.nguyenthanh97@gmail.com
[core]
	ignoreCase = true
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
